https://krebsonsecurity.com date 2
https://research.checkpoint.com/ header 3
https://www.bleepingcomputer.com/ date 3
https://googleprojectzero.blogspot.com/ header 2
https://duo.com/blog date 7
https://www.thezdi.com/blog/ header 2
https://blog.securityevaluators.com/ date 2
https://justi.cz/ date 1
https://blog.rapid7.com/tag/exploits/ date 2
https://blog.cloudflare.com/ date 1
https://www.fireeye.com/blog/threat-research.html header 2
https://blog.0patch.com header 3
https://blog.rapid7.com/tag/iot/ date 2
https://blog.rapid7.com/tag/penetration-testing/ date 2
https://www.coalfire.com/The-Coalfire-Blog date 2
https://twitter.com/Dooflin5 date 13
