https://research.checkpoint.com/
https://www.bleepingcomputer.com/
https://googleprojectzero.blogspot.com/
https://duo.com/blog
https://www.thezdi.com/blog/
https://blog.securityevaluators.com/
https://justi.cz/
https://blog.rapid7.com/tag/exploits/
https://blog.cloudflare.com/
https://blog.rapid7.com/tag/iot/
https://blog.rapid7.com/tag/penetration-testing/
https://www.fireeye.com/blog/threat-research.html
https://www.coalfire.com/The-Coalfire-Blog
https://blog.0patch.com
https://medium.com/tenable-techblog/
https://www.rafaybaloch.com/
https://www.rfk.id.au/blog/
